<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="favicon.ico"
  />
  <span>{{title}}</span>
    <div class="spacer"></div>
    <a aria-label="Source Code" target="_blank" rel="noopener"
       href="https://github.com/yuvi1422/uv-shares-analyzer"
       title="Source Code">
      <img id="git-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 400 400"
           [src]='gitLogo'/>
    </a>
</div>

<div class="content" role="main">
  <!-- Dashboard -->

  <app-dashboard></app-dashboard>
</div>

<router-outlet></router-outlet>